pkgbase = python-sphinxcontrib-htmlhelp
	pkgdesc = Sphinx extension which renders HTML help files
	pkgver = 2.0.6
	pkgrel = 1
	url = https://github.com/sphinx-doc/sphinxcontrib-htmlhelp
	arch = any
	license = BSD-2-Clause
	checkdepends = python-html5lib
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-htmlhelp.git#tag=2.0.6
	b2sums = cf8c3f71b100b0a058c21bd7016c12daea0f64ca284cb0a8666ef8c905821dcaf5cad6bb0fa0d8d972cb5d8e8fd78c5c20fafa0198714287c611e179ba0b1cf7

pkgname = python-sphinxcontrib-htmlhelp
