pkgbase = python-sphinxcontrib-htmlhelp
	pkgdesc = Sphinx extension which renders HTML help files
	pkgver = 2.0.5
	pkgrel = 3
	url = https://github.com/sphinx-doc/sphinxcontrib-htmlhelp
	arch = any
	license = BSD-2-Clause
	checkdepends = python-html5lib
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-htmlhelp.git#tag=2.0.5
	b2sums = 2cb5ab4317888f764c71674e61cb8ba17e1f97f64994d6d5957ead23a26a4064d2dfe41bba72acf249fa8bdbdb34640f3b1b6d11ad81cb0e593f3101d78c1f21

pkgname = python-sphinxcontrib-htmlhelp
