pkgbase = python-sphinxcontrib-htmlhelp
	pkgdesc = Sphinx extension which renders HTML help files
	pkgver = 2.0.5
	pkgrel = 1
	url = https://github.com/sphinx-doc/sphinxcontrib-htmlhelp
	arch = any
	license = BSD-2-Clause
	checkdepends = python-html5lib
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-htmlhelp.git#tag=2.0.5
	b2sums = SKIP

pkgname = python-sphinxcontrib-htmlhelp
